  <p class="f6 fl"><span class="dib mr4 mr5-ns">©Rawgher</span></p>
<p class="f6 fr"><a class="link white-80 hover-light-purple" href="https://github.com/Rawgher">Github</a> /
    <a class="link white-80 hover-green" href="https://www.linkedin.com/in/roger-pender-2b564bb4">LinkedIn</a></p>