  <div class="dt w-100 mw8 center">
  <p class="f6 fl"><span class="dib mr4 mr5-ns">©Rawgher</span></p>
<p class="f6 fr"><a class="link white-80 hover" href="https://github.com/Rawgher" target="_blank">Github</a> /
    <a class="link white-80 hover" href="https://www.linkedin.com/in/roger-pender-2b564bb4" target="_blank">LinkedIn</a></p>
    </div>