{{!--<div class="cover bg-left bg-center-l"> --}}
    <div class="bg-black-80">
      <nav class="dt w-100 mw8 center"> 
        <div class="dtc w2 v-mid pa3">
          GameScraper
        </div>
        <div class="dtc v-mid tr pa3">
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/" >Home</a> 
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/saved" >Saved Articles</a> 
        </div>
      </nav> 