<article class="athelas">
    <div class="vh-75 dt w-100 tc bg-dark-gray white cover" style="background:url(/assets/images/ps4.jpg) no-repeat center;">
        <div class="dtc v-mid">
            <h1 class="f1 f-headline-l fw1 i white-60">GameScraper</h1>
            <blockquote class="ph0 mh0 measure f4 lh-copy center">
                <p class="fw1 white-70">
                    Where you can get the latest news on upcoming games.
                </p>
                <cite class="f6 ttu tracked fs-normal">Rawgher</cite>
                <br>
                <br>
                <div>
                    <a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-near-black" href="/scrape">Scrape Articles</a>
                    <a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-near-black" href="/clear">Clear Articles</a>
                </div>
            </blockquote>

        </div>
    </div>
</article>

<section class="mw7 center avenir">
    <h2 class="baskerville fw1 ph3 ph0-l">Saved Articles</h2>
    {{#each news}}
    {{#if saved }}

    {{/if}}
    {{/each news}}